################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Questions/FileContentIndex
/.vs/Questions/config
/.vs
